.invoice_totals_wrapper {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  justify-content: space-between;
}

.invoice_totals_wrapper .totals_section {
  /* width: 100%; */
  border-radius: 7px;
  background: white;
  border: 0.8px solid #dee2e6;
  padding: 1.25rem;
}
